<!DOCTYPE html>
{% extends 'testt/base.html'%}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body>

<h2>Test Detail View</h2>

<ul>
    <li>{{ detail_test.page }}</li>
    <li>{{ detail_test.page.variants }}</li>
    <li>{{ detail_test.start_date }}</li>
    <li>{{ detail_test.end_date }}</li>
    <li>{{ detail_test.duration }}</li>
    <li>{{ detail_test.status }}</li>
</ul>



<ul>
{% for varient in detail_test.get_variants %}
    <li>{{ varient.title }}</li>
    <li>{{ varient.description }}</li>
{% endfor %}
</ul>



</body>
{% endblock %}
</html>
