
{% extends 'testt/base.html'%}
{% load static %}
{% block content %}


<h2>Test Detail View</h2>

<ul>
    <li>{{ detail_test.id }}</li>
    <li>{{ detail_test.page }}</li>
    <li>{{ detail_test.page.variants }}</li>
    <li>{{ detail_test.start_date }}</li>
    <li>{{ detail_test.end_date }}</li>
    <li>{{ detail_test.duration }}</li>
    <li>{{ detail_test.status }}</li>
</ul>



<ul>
{% for varient in detail_test.get_variants %}
    <li>{{ varient.title }}</li>
    <li>{{ varient.description }}</li>
{% endfor %}
</ul>

<a class="btn btn-danger" href="{% url 'testt:edit_page' detail_test.page.id %}">Edit</a>
<a class="btn btn-danger" href="{% url 'testt:delete_confirmation' detail_test.page.id %}">Delete</a>

{% endblock %}

